*
{
    padding: 0%;
    margin: 0%;
}
.header
{
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
    background-color: grey;
    padding: 2%;
}
.header ul
{
    display: inline-flex;
}
.header ul li
{
    display: inline-flex;
    list-style-type: none;
    padding: 0px 60px;
    font-size: 25px;
    /*border: 2px solid white;*/
    margin: 10px;
}
.header ul li a{
    text-decoration: none;
}
.header ul li:hover
{
    background-color: red;
    border-radius: 20px;
}
.banner
{
    text-align: center;
    height: 100vh;
    margin-bottom: 3%;
    position: relative;
}
.banner h1
{
    position: absolute;
    top: 250px;
    right: 550px;
    color: red;
    font-size: 40px;
}
.sec1
{
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
}
.circle
{
    padding: 2%;
    display: inline-flex;
    flex-direction: column;
    border-radius: 100%;
    margin: 1%;
}
.sec2
{
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
    height: 310px;
}
.left
{
    background-color: greenyellow;
    float: left;
    border: 2px solid red;
    height: 370px;
    width: 46%;
    margin-left: 2%;
}
.right
{
    background-color:brown;
    float: right;
    border: 2px solid red;
    height: 110px;
    width: 44%;
    margin-bottom: 1%;
    margin-right: 2%;
}
#sec3
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
    
}

.article
{
    border: 2px solid red;
    padding: 1%;
    margin: 10px;
}
.article a
{
    padding:1%;
    border: 2px solid green;
    text-decoration: none;
}
.footer
{
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
    background-color: grey;
    padding: 2%;
}