body
{
    background-color:red;
    padding:0%;
    margin:0%
}
#container
{
    display:flex;
    flex-direction: row;
}
.box
{
    padding: 1%;
    margin: 5%;
    border: 2px solid white;
    background-color: white;
    border-radius: 5%;
}
a
{
    justify-content: center;
    padding:4%;
    margin-left: 25%;
    border: 2px solid green;
    text-decoration: none;

}